.panel1 img{
    width: 250px;
    height: 150px;
}
.panel2 {
    margin-left: 20px;
}
.panel2 h1 {
    color: #fff;
    font-size: 40px;
}
.Value {
    color: #828282;
}
.Key{
    color: #fff;
}
.Key, .Value {
    font-size: 20px;
}
.panel2 a {
    color: #fff;
    transition: 250ms;
    border-bottom: 1px solid;
    text-decoration: none;
}
.panel2 a:hover {
    border-bottom: none;
    transition: 250ms;
    color: red;
}
.Container {
    display: flex;
    margin-top: 20px;
}
.Container h3 {
    color: #fff;
}
.BreadCrumbs {
    padding-top: 50px;
    display: flex;
}
.BreadCrumbs a:hover {
    border-bottom: none;
    transition: 250ms;
    color: red;
}
.BreadCrumbs a {
    color: #fff;
    transition: 250ms;
    border-bottom: 1px solid;
    text-decoration: none;
    margin-right: 50px;
}
.BreadCrumbs li {
    color: #fff;
}