.Header {
    background-color: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.Header a {
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;

}

.LiText{
    margin-right: 10px;
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Header a:hover {
    color: red;
}
.LiText:hover, [class = "active"] {
    color: snow;
    transition: color 100ms ease-in;
}